html, body {
    height: 100%;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    padding: 1rem;
    gap: 2rem;
}

header {
    align-self: center;
    gap: 1rem;
}

.header-box {
    background-color: #4B2963;
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
}

.menu {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 13;
    gap: 1rem;
}

.menu-box {
    background-color:  #B4488A;
    border-radius: 5rem;
    grid-column: span 3;
    grid-row: 1;
}

main {
    display: grid;
    grid-row: 3 / 4;
    grid-column: 1 / 13;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1rem;
}

.main {
    display: grid;
    grid-column: 2 / 8;
    grid-row: 1 / 7;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
}

.side {
    display: grid;
    grid-column: 8 / 12;
    grid-row: 1 / 7;
    gap: 0.5rem;
}

footer {
    background-color: #C1C89A;
    grid-row: 4 / 5;
    grid-column: 1 / 13;
}

.main-box {
    background-color: #F495A8;
    grid-column: span 1;
}

.side-box {
    background-color: #EF5FAC;
}

@media (max-width: 600px) {
    body {
        gap: 0.5rem;
        grid-template-rows: 0.7fr 1.5fr 2fr 0.7fr;
    }

    .menu {
        gap: 0.5rem;
        grid-row: 2 / 3;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .menu-box {
        grid-column: 1 / 13;
        grid-row: span 1;
    }

    header {
        display: grid;
        grid-column: 1 / 13;
    }

    .header-box {
        width: 6rem;
        height: 6rem;
        grid-column: 2;
    }

    main {
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }

    .main {
        grid-row: 1 / 5;
        grid-column: 1 / 13;
        grid-template-columns: 1fr;
    }

    .side {
        grid-row: 5 / 6;
        grid-column: 1 / 13;
        grid-template-columns: 1fr 1fr 1fr;
    }
}