body {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    padding: 0.5rem;
    gap: 0.5rem;
    height: 100vh;
}

header {
    grid-column: span 12;
    display: grid;
    gap: 0.5rem;
}

.header-box {
    background-color: #B4488A;
    grid-row: 1;
}

.main-box {
    background-color: #F495A8;
    grid-row: 1;
}

main {
    grid-column: span 12;
    display: grid;
    gap: 0.5rem;
}

footer {
    background-color: #C1C89A;
    grid-column: span 12;
}

@media (max-width: 600px) {
    body {
        padding: 0.5rem;
        gap: 1rem;
        grid-template-rows: repeat(9, 1fr);
    }

    main {
        grid-row: span 6;
        gap: 1rem;
    }

    .main-box {
        grid-row: span 2;
    }

    header {
        gap: 0.2rem;
        grid-row: span 2;
        grid-template-columns: 1fr 1fr;
    }

    .header-box {
        grid-row: span 1;
    }
}