body {
    height: 100vh;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

header {
    background-color: #4B2963;
    flex: 1;
}

main {
    display: flex;
    flex-direction: row;
    flex: 5;
}

.sidebar-menu { 
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

article {
    flex: 1;
    background-color: #B4488A;
}

section {
    flex: 2;
}

.sidebar-content {
    background-color: #F495A8;
    flex: 1;
}

footer {
    background-color: #C1C89A;
    flex: 1;
}

@media (max-width: 500px) {
    main {
        flex-direction: column;
        flex: 10;
    }

    .sidebar-content {
        flex: 2;
    }

    section {
        flex: 3;
    }

    .sidebar-menu {
        flex: 3;
        gap: 0.2rem;
    }
}