body {
    height: 100vh;
    width: 1fr;
    overflow-x: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    grid-template-rows: repeat(7, 1fr);
}

header {
    background-color: #4B2963;
    height: 100%;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 100%;
    width: 100%;
    grid-row: 2 / 7;
}

.sidebar-menu { 
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

article {
    height: 20%;
    width: 100%;
    background-color: #B4488A;
}

section {
    width: 60%;
    height: 100%;
}

.sidebar-content {
    background-color: #F495A8;
    width: 100%;
    height: 100%;
}

footer {
    background-color: #C1C89A;
    height: 100%;
    width: 100%;
    grid-row: 7 / 8;
}

@media (max-width: 500px) {
    .grid-container {
        grid-template-rows: repeat(12, 1fr);
    }

    main {
        grid-row: 2 / 12;
        justify-items: center;
    }

    main, .sidebar-menu, section {
        width: 100%;
    }

    article, .sidebar-content {
        width: 98%;
    }

    main, header, footer, .sidebar-content, section, article {
        height: 100%;
    }
    
    footer {
        grid-row: 12 / 13;
    }

    .sidebar-menu {
        gap: 0.2rem;
        display: flex;
        grid-row: 1 / 5;
        grid-column: 1 / 4;
        align-items: center;
    }

    .sidebar-content {
        grid-row: 9 / 12;
        grid-column: 1 / 4;
    }
}