html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

header {
    flex: 1;
    display: flex;
    gap: 1rem;
}

.header-box {
    background-color: #B4488A;
    flex: 1;
}

.main-box {
    background-color: #F495A8;
    flex: 1;
}

main {
    display: flex;
    flex: 5;
    gap: 1rem;
}

footer {
    background-color: #C1C89A;
    flex: 1;
}

@media (max-width: 600px) {
    body {
        padding: 0.5rem;
        gap: 0.5rem;
    }

    main {
        flex-direction: column;
        flex: 6;
    }

    footer {
        margin-top: 1rem;
    }

    header {
        gap: 0.2rem;
        flex-wrap: wrap;
        flex: 2;
    }

    .header-box {
        flex-basis: 40%;
    }
}