body {
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    grid-template-rows: 1fr 5fr 1fr;
}

header {
    background-color: #4B2963;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-row: 2 / 3;
}

.sidebar-menu { 
    display: grid;
    gap: 0.5rem;
}

article {
    background-color: #B4488A;
}

.sidebar-content {
    background-color: #F495A8;
}

footer {
    background-color: #C1C89A;
    grid-row: 3 / 4;
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-rows: 1fr 10fr 1fr;
    }

    main {
        grid-row: 2 / 3;
        grid-template-rows: 5fr 3fr 2fr;
        grid-template-columns: 1fr;
    }
    
    footer {
        grid-row: 3 / 4;
    }

    .sidebar-menu {
        gap: 0.2rem;
        display: grid;
        grid-row: 1 / 2;
    }

    section {
        grid-row: 2 / 3;
    }

    .sidebar-content {
        grid-row: 3 / 4;
    }
}