html, body {
    height: 100%;
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    padding: 1rem;
    gap: 2rem;
}

header {
    align-self: center;
    gap: 1rem;
}

.header-box {
    background-color: #4B2963;
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
}

.menu {
    display: grid;
    grid-column: span 12;
    gap: 1rem;
}

.menu-box {
    background-color:  #B4488A;
    border-radius: 5rem;
    grid-row: 1;
}

main {
    display: grid;
    grid-column: span 12;
    gap: 1rem;
    padding: 3rem;
}

.main {
    display: grid;
    grid-column: span 6;
    grid-row: 1 / 7;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
}

.side {
    display: grid;
    grid-column: span 4;
    grid-row: 1 / 7;
    gap: 0.5rem;
}

footer {
    background-color: #C1C89A;
    grid-column: span 12;
}

.main-box {
    background-color: #F495A8;
    grid-column: span 1;
}

.side-box {
    background-color: #EF5FAC;
}

@media (max-width: 600px) {
    body {
        gap: 0.5rem;
        grid-template-rows: 0.7fr 1.5fr 2fr 0.7fr;
    }

    .menu {
        gap: 0.5rem;
    }

    .menu-box {
        grid-column: span 12;
        grid-row: span 1;
    }

    header {
        display: grid;
        grid-column: span 12;
    }

    .header-box {
        width: 6rem;
        height: 6rem;
        grid-column: 2;
    }

    main {
        padding: 0;
    }

    .main {
        grid-row: span 4;
        grid-column: span 12;
    }

    .main-box {
        grid-column: span 2;
    }

    .side {
        grid-row: span 1;
        grid-column: span 12;
    }

    .side-box {
        grid-row: 1;
    }
}