body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

header {
    display: flex;
}

.header-box {
    background-color: #4B2963;
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    margin: 2rem 0;
}

main {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.main-content {
    display: flex;
    flex: 2;
    gap: 1rem;
    flex-wrap: wrap;
}

.main-box {
    flex-basis: 49%;
}

.purple {
    background-color: #B4488A;
}

.pink {
    background-color: #F495A8;
}

footer {
    background-color: #C1C89A;
    flex: 1;
}

.bottom-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
    align-items: center;
}

.bottom-box {
    background-color: #EF5FAC;
    width: 40%;
    flex: 1;
    margin: 2rem;
    border-radius: 30px;
}

@media (max-width: 600px) {
    header {
        align-self: center;
    }

    .header-box {
        width: 7rem;
        height: 7rem;
        align-self: center;
    }

    .bottom-box {
        border-radius: 60px;
        width: 30%;
        margin: 0;
    }

    main {
        gap: 1rem;
        flex: 5;
    }

    .main-content {
        flex: 8;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    body > main > section.main-content > section:nth-child(1) {
        order: 2;
    }

    body > main > section.main-content > section:nth-child(2) {
        order: 1;
    }
}