html, body {
    height: 100vh;
}

body {
    margin: 0;
    display: grid;
    padding: 1rem;
    gap: 1rem;
}

header {
    padding: 1rem;
    grid-column: span 12;
}

.header-box {
    background-color: #4B2963;
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    position: fixed;
}

main {
    grid-row: span 2;
    grid-column: span 12;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.main-box {
    grid-column: span 1;
}

.purple {
    background-color:  #B4488A;
}

.pink {
    background-color: #F495A8;
}

footer {
    background-color: #C1C89A;
    grid-column: span 12;
}

.bottom-box {
    background-color: #EF5FAC;
    border-radius: 30px;
    grid-column: span 12;
    height: 70%;
    margin-left: 35%;
    margin-right: 35%;
    align-self: center;
}

@media (max-width: 600px) {
    header {
        grid-column: span 12;
        padding: 0;
        margin: 0;
        justify-self: center;
    }

    .header-box {
        position: static;
        width: 6rem;
        height: 6rem;
    }

    body {
        grid-template-rows: 1fr 5fr 1fr 1fr;
        gap: 1rem;
    }

    main {
        grid-row: span 1;
    }

    .main-box {
        grid-column: span 12;
    }

    .bottom-box {
        background-color: #EF5FAC;
        border-radius: 50px;
        grid-column: span 12;
        height: 100%;
        width: 40%;
        justify-self: center;
    }

    body > main > section:nth-child(1) {
        order: 2;
    }

    main > section.purple + .pink {
        order: 1;
    }
}