html, body {
    height: 100%;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    padding: 1rem;
    gap: 2rem;
}

header {
    gap: 1rem;
    align-self: center;
    padding: 1rem;
}

.header-box {
    background-color: #4B2963;
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
}

main {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1rem;
}

.main-box {
    grid-column: span 3;
    grid-row: span 2;
}

.purple {
    background-color:  #B4488A;
}

.pink {
    background-color: #F495A8;
}

footer {
    background-color: #C1C89A;
}

.bottom-box {
    background-color: #EF5FAC;
    border-radius: 30px;
    grid-row: 5 / 7;
    grid-column: 3 / 5;
    height: 50%;
    align-self: center;
}

footer {
    grid-row: 3 / 4;
}

@media (max-width: 600px) {
    header {
        justify-self: center;
        margin: 0;
    }

    .header-box {
        width: 6rem;
        height: 6rem;
    }

    body {
        grid-template-rows: 1fr 5fr 1fr;
    }

    footer {
        grid-row: 3 / 4;
    }

    main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-row: 2 / 3;
    }

    .main-box {
        grid-row: span 1;
    }

    .bottom-box {
        background-color: #EF5FAC;
        border-radius: 50px;
        grid-row: 5;
        grid-column: 1;
        height: 100%;
        width: 40%;
        justify-self: center;
    }
}